#vietLabel {
    -fx-font-family: Open Sans;
    -fx-font-size: 14;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

#engLabel {
    -fx-background-color: transparent;
    -fx-font-family: Open Sans;
    -fx-font-size: 14;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}

#engLabel:hover, #engLabel:selected, #engLabel:focused {
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-cursor: hand;
}

#vietLabel:hover, #vietLabel:selected, #vietLabel:focused {
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
}

#MainWindow {
    -fx-background-color: linear-gradient(to bottom, #000428, #004e92);
}

.button {
    -fx-background-color: transparent;
}

#searchButton {
    -fx-background-color: #000428;
}

#searchButton:hover {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

#translateTextButton:hover {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

#addFavWord:hover, #addFavWord:selected {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

#recentButton:hover, #recentButton:focused {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

#settings:hover, #settings:focused {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

#inputWord {
    -fx-text-fill: "black";
}

#addFavIcon, #addFavIcon:hover {
    -fx-cursor: hand;
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
    -fx-background-color: transparent;
}

#addFav {
    -fx-background-color: transparent;
}

#vBox {
    -fx-background-color: white;
}

#volumeIcon:hover {
    -fx-fill: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-cursor: hand;
}

#currentWord {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-text-alignment: LEFT;
}

.list-cell:filled:hover {
    -fx-background-color: linear-gradient(to right, #eb3349, #f45c43);
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-text-alignment: LEFT;
}

.scroll-bar:vertical {
    -fx-pref-width: 15;
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

#inputWord {
    -fx-border-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-text-fill: "black";
}

.list-cell {
    -fx-background-color: white;
    -fx-text-alignment: LEFT;
}

.tooltip {
    -fx-background: rgba(30, 30, 30);
    -fx-text-fill: white;
    -fx-background-color: rgba(30, 30, 30, 0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
    -fx-font-weight: normal;
}

.button-hover:hover {
    -fx-background-color: transparent;
}

.label-anChor {
    -fx-text-fill: black;
}

.label-anChor:hover {
    -fx-text-fill: white;
}

#hBox1 {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
}

.label:hover, .label:selected {
    -fx-text-fill: white;
}
