#vietLabel {
    -fx-font-family: Open Sans;
    -fx-font-size: 14;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
    -fx-background-color: #003366;
}

#engLabel {
    -fx-background-color: #003366;
    -fx-font-family: Open Sans;
    -fx-font-size: 14;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}

#engLabel:hover {
    -fx-background-color: #2980b9;
}

#vietLabel:hover {
    -fx-background-color: #2980b9;
}

#MainWindow {
    -fx-background-color: #003366;
}

.button {
    -fx-background-color: #003366;
}

.button:hover {
    -fx-background-color: #2980b9;
}

#inputWord {
    -fx-text-fill: "black";
}

#addFavIcon {
    -fx-fill: "white";
    -fx-stroke: #0F1C3F;
    -fx-stroke-width: 1;
}

#addFavIcon:hover {
    -fx-fill: #003366;
}

#volumeIcon:hover {
    -fx-fill: #003366;
}

#currentWord {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-underline: true;
    -fx-font-weight: bold;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #CC3333;
    -fx-text-fill: white;
    -fx-border-color: #003366 ;
}

.list-cell:filled:hover {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-border-color: #CC3333;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#inputWord {
    -fx-border-color: #003366;
    -fx-text-fill: "black";
}