#topLabel {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
    -fx-text-fill: white;
    -fx-font-weight: BOLD;
    -fx-font-family: Arial;
    -fx-font-size: 16;
}
#darkModeBox, #setFontButton, #autoPlayBox, #backSettingButton {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
}
#settingDarkModeLabel, #SettingAutoPlayLabel {
    -fx-text-fill: white;
}

#darkModeBox:hover, #setFontButton:hover, #autoPlayBox:hover, #backSettingButton:hover {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-cursor: hand;
}
