.button {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}

.label {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

.text-field {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14;
}

.text-area {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14;
}

#sourceLanguageLabel {
    -fx-border-color: #696969;
    -fx-border-radius: 5;
    -fx-text-alignment: CENTER;
    -fx-font-weight: normal;
}

#targetLanguageLabel {
    -fx-border-radius: 5;
    -fx-border-color: #696969;
    -fx-text-alignment: CENTER;
    -fx-font-weight: normal;
}

