.button {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #a73737, #7a2828);
    -fx-cursor: hand;
}

#TranslateLabel {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #C4DFDF;
}

#inputText {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#translateResult {
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#sourceLanguageLabel, #targetLanguageLabel {
    -fx-background-color: linear-gradient(to right, #000428, #004e92);
    -fx-border-color: #696969;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-font-weight: bold;
}

#anchorPane {
    -fx-background-color: #f8dad0;
}

